<header>
  <app-navbar>
    <a appNavBarButton id="github-repository" href="https://github.com/Eastrall/pz-character-planner" target="_blank">
      <i appIcon name="code-bracket" class="h-6 w-6 fill-slate-900 dark:text-white"></i>
    </a>
    <button type="button" appNavBarButton (click)="toggleTheme()">
      <span appIcon name="sun" class="w-6 h-6 hidden dark:block text-white"></span>
      <span appIcon name="moon" kind="solid" class="w-6 h-6 block dark:hidden"></span>
    </button>
  </app-navbar>
</header>

<main className="absolute top-0 right-0 bottom-0 left-0 bg-slate-50 dark:bg-slate-900">
  <div className="container mx-auto pt-32 pb-16 h-full overflow-hidden">
    <router-outlet />
  </div>
</main>
